.contenedor {
    max-width: 250px;
    margin: 30px auto;
    padding: 10px;
    border: dotted #000000;
    border-radius: 20px;
    background-color: #215b5f;
}

label [type="text"] { 
    display: inline-block;
    width: 50px;
    margin-bottom: 10x;
    font-weight: bold;
}

input[type="text"] {
    width: 150px; 
    padding: 10px;
    border: 2px dotted #000000;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

#btnOperacion {
    width: 100%;
    padding: 10px; 
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff7f6;
}