.contenedor {
    max-width: 350px;
    margin: 50px auto;
    padding: 20px;
    border: 4px solid #f11e1e;
    border-radius: 10px;
    background-color: #1e9498;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 110px; 
    padding: 10px;
    border: 3px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#btnOperacion {
    width: 50%;
    padding: 10px; 
    background-color: #09234d;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #f8f8f8;
}