.links {
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a7002a72;
}


li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: turquoise;
}

.active {
    background-color:tomato;
  }
}


.e {
    font-family: 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    color: green;
}

#cal {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: crimson;
    background-color: cornsilk;
}

#art{
    background-color: darkslategray;
    color: honeydew;
}

.facu {
    width: auto;
    height: auto;
    justify-content: center;
}


.body_evento{
    background-image: url(facpya1.jpg);
    background-color: goldenrod;
}

#body_articulo {
    font-family: Arial, sans-serif;
    margin: 20px;
}
#articulo {
    max-width: 800px;
    margin: 0 auto;
}
img {
    max-width: 512px;
    height: 341px;
    border-radius: 10px; 
}
imagen1{
    max-width: auto;
    height: auto;
}

imagen2{
    max-width: 630px;
    height: 700px;
    border-radius: 25px;
}
/* para todo lo que tenga h1 (titulos) */
/* h1 {color: darkmagenta;} */

/* este para selectores de lista */
/* h1,.e {background-color: gray;} */

.A1{
    background-color: #008ed6;
}

header {
    background-color: cadetblue;
    color: blanchedalmond;
    padding: 20px 0;
    text-align: center;
}

#a {
    background-color: darkgreen;
    color: seashell;
}

.event{
    background-color: dimgrey;
    color: gold;
}

.mapa {
    align-self: center;
}

.item_A {
    grid-area: article;
}
.item_b{
    grid-area: sidebar;
}
.item_c{
    grid-area: footer;
}
.item_d {
    grid-area: header;
}
.item_e {
    grid-area: main;
}
.body_articulo {
    display: grid;
    grid-template-columns: [first] 75% [end] 25%;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header"
    "main main"
    "article sidebar"
    "footer footer";
    gap: 25px;
}

.profile-card{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: -5px -5px 25px rgba(0, 0, 0, 0.705);
    animation: rotate 2s both;
}
.card{
    height: 100%;
    padding: 30px 40px;
    animation: textanimate 2s both;
    color: black;
    font-size: 1rem;
    justify-content: left;
}

.profile-card00{
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    box-shadow: -5px -5px 25px rgba(0, 0, 0, 0.706);
    animation: rotate 2s both;
}
.card00{
    height: 100%;
    padding: 30px 40px;
    animation: textanimate 2s both;
    color: black;
    font-size: 1rem;
    justify-content: left;
}

@keyframes rotate {
    0% {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
    100% {
        transform-origin: left bottom;
        transform: none;
        opacity: 1;
    }
}

@keyframes textanimate {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card2 {
    width: 200px;
    height: 220px;
    position: relative;
    background-color: transparent;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card2:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.front, .back {
    height: 100%;
    width: 100%;
    background: white;
    padding-top: 20px;
    position: absolute;
    border-radius: 10px;
    backface-visibility: hidden;
    display: table-row;
    justify-content: center;

}

.front {
    background: rgb(180, 58, 170);
    background: linear-gradient(90deg,
                    rgba(180, 58, 170,1) 0%,
                    rgba(200, 29, 253,1) 35%,
                    rgba(252, 176, 69,1) 100%);
}

.img {
    width: 100px;
    height: 100px;
    justify-content: center;
}

.back {
    transform: rotateY(180deg);
    background: gray;
}