.contenedor {
    max-width: 620px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #e2dede;
    border-radius: 10px;
    background-color: #cf4a4a;
}

#btnEjecutar {
    width: 100%;
    padding: 10px; 
    background-color: #45da7e;
    border: none;
    border-radius: 5px;
    color: #0c0b0b;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}