.contenedor {
    max-width: 300px;
    margin: 60px auto;
    padding: 30px;
    border: 2px solid #0a1884;
    border-radius: 20px;
    background-color: #ffffff;
}

label {
    display: inline-block;
    width: 185px;
    margin-bottom: 20px;
    font-weight: bold;
}

input[type="text"] {
    width: 85px; 
    padding: 10px;
    border: 5px solid #2c088e;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

#btnSumar {
    width: 100%;
    padding: 10px; 
    background-color: #0e25d4;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #281a8f;
}
