body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
}

header {
    background-color: grey;
    color: blanchedalmond;
    padding: 20px 0;
    text-align: center;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px; 
}

.noticia {
    border: 1px solid #ccc; 
    padding: 20px;
}

.texto-izquierda, .texto-derecha, .videoizq, .videoderecha {
    margin-bottom: 20px; 
}

.texto-izquierda, .videoizq {
    grid-column: 1; 
}

.texto-derecha, .videoderecha {
    grid-column: 2; 
}

.videoizq, .videoderecha {
    text-align: center; 
}

html {
    background-color: blanchedalmond;
}


