body {
    background-color: lightblue;
}

ul {
    display: flex;
    display: grid;
    grid-template-areas: "space"
                         "liga";
    justify-content: center;
    grid-template-rows: 15fr 4fr;
}

.centro{
    grid-area: space;
}
.liga {
    background-color: darkcyan;
    color: beige;
    font-size: 300%;
    grid-area: liga;
}