.imagen_importante {
    max-width: 20%;
    height: auto; 
}
nav {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: #fff;
    text-decoration: none;
    padding: 0 15px;
}
.s_titulos{
    background-color: #333;
    color: hsl(42, 100%, 46%);
}
.titulo {
    text-align: center;
    background-color: rgb(35, 35, 35);
    color: hsl(42, 100%, 46%);
    padding: 20px 0;
    font-size: 30px;
}
.gif{
    display: block;
    margin: 0 auto;
    max-width: 20%;
    height: auto; 
}
.gif_contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gif_contenedor img {
    max-width: 200px;
    height: auto;
    margin: 10px;
}
.tablas {
    width: 100%;
}

.tablas th, .tablas td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

body{
    background-color: #959494;
}

.formulario{
    background-color: #333;
    color: hsl(42, 100%, 46%);
}

.inicio{
    display: grid;
    grid-template-areas: "m d s";
}

.imginicio {
    text-align: center;
}
.desarrollo {
    display: flex;
}
.texto {
    flex-grow: 1; 
    margin-right: 20px; 
}
.desarrollo iframe {
    flex-grow: 1; 
}

