h1{
    text-align: center;
    background-color: rgb(252, 207, 192);
    font-size: 50px;

}

h2{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    border: 1px solid;
    background-color: rgb(242, 219, 255);
}
