html, body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: burlywood;
    color: black;
    padding: 20px;
}
h2{
    text-align: center;
    background-color: white;
    padding: 15px;
}
/*Barra de navegacion*/
nav ul {
    list-style-type: none;
    text-align: center;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 200px;
}
nav li:hover{
    background-color: white;
}
.contenido{
    display: flex;
    margin: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.img{
    text-align: center;
}
.registro{
    width: 250px;
    padding: 40px;
    margin: auto;
    background-color: blanchedalmond;
    border-radius: 5px;

}
.control{
    padding: 10px;
    margin-bottom: 10px;
}

