.contenedor {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 250px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

#btnGenerar {
    width: 100%;
    padding: 10px; 
    background-color: #41ad50;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}