.total{
    color:crimson;
}

.centrado{
    text-align: center;
}

.decision{
    font-size: 30px;
    background-color: cornflowerblue;
    color: darkred;
}

.win{
    box-shadow: 5px 5px 5px yellow;
}

#encabezado{
    background-color: rgb(109, 205, 201);
    color: indigo;
}

.extra[lang="es"]{
    color: blueviolet;
}

a[href$=".html"]{
    border: 2px dashed orange;
}

.punto{
    color: navy;
    font-size: 75px;
}

body{
    background-color: lightblue;
}

article > h2 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px dotted black;
    color: midnightblue;
}

.cita{
    background-color: mediumturquoise;
}