h1{text-align: center;}
h2{padding: 13px;}
h2{background-color: blue;}
h2{text-align: center;}
h1{color: red;}
img{width: 100%;}
p{font-size: x-large;}
footer{text-align: center;}
.paginault{color:red;
font-weight: bolder;}
div{text-align: center;}
a{color: rgb(0, 102, 255);
font-size: x-large;}
a{font-weight: bolder;
padding: 10px;
margin-top: 10px;
margin: 10px;}
.paginault{ margin: 0 15px;
    padding: 3px 1px;
    color: #e41b1b;
    background-color: #d1aaaa;
    font-weight: bolder;
    border-radius: 5px;
    text-align: center;
    margin: 17px;
    }